{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{lib_dirs, ["deps", "apps"]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B)", []}]}.

{reset_after_eunit, true}.

{deps, [
        {node_package, ".*", {git, "git://github.com/basho/node_package", {tag, "2.0.1"}}},
        {clique, "0.3.1", {git, "git://github.com/basho/clique.git", {tag, "0.3.1"}}},
        {mochiweb, "2.9.0", {git, "git://github.com/basho/mochiweb.git", {tag, "v2.9.0p1"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog", {tag, "2.0.3"}}},
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish", {tag, "2.0.1"}}},
        {erlzk, ".*", {git, "git://github.com/huaban/erlzk.git", {tag, "v0.5.0"}}},
        {balance, ".*", {git, "git://github.com/drewkerrigan/tcpbalance.git", {branch, "master"}}}
       ]}.
