%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "director", "0.0.1",
        [
         kernel,
         stdlib,
         sasl,
         public_key,
         ssl,
         os_mon,
         crypto,
         runtime_tools,
         mochiweb,
         webmachine,
         lager,
         lager_syslog,
         riak_mesos_director,
         erlzk
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "director"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, cuttlefish, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, riak_mesos_director, [{incl_cond, include}]}
      ]}.


{target_dir, "riak_mesos_director"}.

{overlay_vars, "vars.config"}.

{overlay, [
           %% Scan for scripts in included apps
           %% Setup basic dirs
           {mkdir, "log"},
           {mkdir, "data/riak_mesos_director"},

           %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl",
            "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/cuttlefish/cuttlefish",
            "{{erts_vsn}}/bin/cuttlefish"},
           {copy, "../deps/node_package/priv/base/nodetool",
            "{{erts_vsn}}/bin/nodetool"},
           {template, "../deps/node_package/priv/base/runner",
            "bin/director"},
           {template, "../deps/node_package/priv/base/env.sh",
            "lib/env.sh"},

           %% Copy config files
           %% Cuttlefish Schema Files have a priority order.
           %% Anything in a file prefixed with 00- will override
           %% anything in a file with a higher numbered prefix.
           {template, "files/riak_mesos_director.schema", "lib/00-riak_mesos_director.schema"},
           {template, "../deps/cuttlefish/priv/erlang_vm.schema", "lib/11-erlang_vm.schema"},
           {template, "files/advanced.config", "etc/advanced.config"},

           {mkdir, "lib/basho-patches"},

           %% Copy additional bin scripts
           {template, "files/ermf-director.sh", "bin/ermf-director"},
           {template, "files/director-admin", "bin/director-admin"}
          ]}.
